body {
    background-color: rgb(54, 54, 54);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10px;
}

.frame {
    background-color: rgb(102, 102, 102);
    width: 500px;
    height: 500px;
    border-radius: 10%;
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

/* Answer field */
#ans-display {
    background-color: white;
    width: 500px;
    height: 100px;
    border-radius:0.5cm;
    text-align: right;
    text-orientation: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1cm;
    font-weight: bold;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

#buttonframe {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 10px;
}

.number {
    background-color: rgb(54, 54, 54);
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:250%;
    border: none;
    cursor: pointer;
}

.number:hover {
    background-color:rgb(173, 171, 171);
}

.number:active {
    background-color: rgb(255, 255, 255);
    color: rgb(54, 54, 54);
}

.txt {
    background-color: rgb(183, 29, 255);
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:200%;
    border: none;
    cursor: pointer;
}

.txt:hover {
    background-color: rgb(89, 0, 130);
}

.txt:active {
    background-color: rgb(255, 255, 255);
    color: rgb(183, 29, 255);
}

.operator {
    background-color: rgb(183, 29, 255);
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:250%;
    border: none;
    cursor: pointer;
}

.operator:hover {
    background-color: rgb(89, 0, 130);
}

.operator:active {
    background-color: rgb(255, 255, 255);
    color: rgb(183, 29, 255);
}

.filler {
    background-color: rgb(102, 102, 102);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: none;
}


